.table {
  width: min-content;
}

.th {
  text-align: right;
  color: var(--mantine-color-wBlue-4);
  white-space: nowrap;
  width: auto;
}

.td {
  width: auto;
  white-space: nowrap;
  text-align: right;
}
